<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>推推</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/element-ui.css">
    <link rel="stylesheet" href="css/common.css">
  </head>
  <body>
    <div id="app" v-cloak >
        <div class="new_list">
          <div class="left">微信号</div>
          <div class="middle"><input type="text" placeholder="请输入微信账号" v-model="info.id" style="text-align: right;"></div>
        </div>
        <div class="new_list">
          <div class="left">微信名</div>
          <div class="middle"><input type="text" placeholder="易运华" v-model="info.name"></div>
        </div>
        <div class="certification_pic">
            <div class="left">微信头像</div>
            <el-upload 
                class="avatar-uploader"
                action="https://jsonplaceholder.typicode.com/posts/"
                :show-file-list="false"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload">
                <img v-if="info.my_img" :src="info.my_img" class="avatar">
                <i v-else class="iconfont icon-jiahao avatar-uploader-icon"></i>
            </el-upload>
        </div>
        <div class="new_list">
          <div class="left">好友数</div>
          <div class="middle"><input type="text" placeholder="387" v-model="info.fr_num"></div>
        </div>
        
        <div class="certification_pic">
            <div class="left">好友数截图</div>
            <el-upload 
                class="avatar-uploader"
                action="https://jsonplaceholder.typicode.com/posts/"
                :show-file-list="false"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload">
                <img v-if="info.fr_img" :src="info.fr_img" class="avatar">
                <i v-else class="iconfont icon-jiahao avatar-uploader-icon"></i>
            </el-upload>
        </div>
        
        <div class="new_list">
          <div class="left">省市区</div>
          <div class="middle">
            <el-cascader
            :options="options"
            v-model="selectedOptions"
            @change="handleChange">
            </el-cascader>        
          </div>
        </div>
        <div class="new_list">
          <div class="left">行业</div>
          <div class="middle">
              <el-select v-model="info.industry" placeholder="互联网">
                <el-option
                  v-for="item in options0"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
          </div>
        </div>
        <div class="certification_pic">
            <div class="left">案例截图</div>
            <el-upload 
                class="avatar-uploader"
                action="https://jsonplaceholder.typicode.com/posts/"
                :show-file-list="false"
                :on-success="handleAvatarSuccess"
                :before-upload="beforeAvatarUpload">
                <img v-if="info.case_img" :src="info.case_img" class="avatar">
                <i v-else class="iconfont icon-jiahao avatar-uploader-icon"></i>
            </el-upload>
        </div>
        <div class="certification_list">
          <div class="left">资源上架</div>
          <div class="right"><i class="iconfont icon-xuanzhong" @click="info.is_resource=!info.is_resource" :class="{'certification_active':info.is_resource}" ></i></div>
        </div>
        <div class="certification_list" >
          <div class="left">名人大号</div>
          <div class="right"><i class="iconfont icon-xuanzhong" @click="info.is_men=!info.is_men" :class="{'certification_active':info.is_men}" ></i></div>
        </div>
        <div class="new_list">
          <div class="left">分类</div>
          <div class="middle">
              <el-select v-model="info.type" placeholder="请选择分类">
                <el-option
                  v-for="item in options0"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
          </div>
        </div>
        <hr class="line10">
        <div class="new_cont">
          <h3>圈子描述</h3>
          <textarea placeholder="详细描述" v-model="info.desc"></textarea>
        </div>
        <hr class="line10">
        
        <div class="btn5">
            <a href="#"><el-button type="text" @click="open">保存</el-button></a>
        </div>
        <div style="height: 90px;"></div>
    </div>
    
  </body>
</html>

<script src="js/vue2.js"></script>
<script src="js/element-ui.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/common.js"></script>
<script>
           
    var vm = new Vue({
      el: '#app',
      data: {
        info:{id:'',name:'',my_img:'',fr_num:'',fr_img:'',address:'', industry:'',case_img:'',
        
        is_resource:false,

        is_men:true,


        type:'',
        desc:''},
        options0: [{
          value: '选项1',
          label: '观念广告'
        }, {
          value: '选项2',
          label: '创意广告'
        }, {
          value: '选项3',
          label: '新媒体'
        }, {
          value: '选项4',
          label: '传统广告'
        }, {
          value: '选项5',
          label: '广告'
        }],
        options1: [{
          value: '选项1',
          label: '观念广告'
        }, {
          value: '选项2',
          label: '创意广告'
        }, {
          value: '选项3',
          label: '新媒体'
        }, {
          value: '选项4',
          label: '传统广告'
        }, {
          value: '选项5',
          label: '广告'
        }],

         options: [{
          value: 'zhinan',
          label: '湖南省',
          children: [{
            value: 'shejiyuanze',
            label: '长沙市',
            children: [{
              value: 'yizhi',
              label: '一致'
            }, {
              value: 'fankui',
              label: '反馈'
            }, {
              value: 'xiaolv',
              label: '效率'
            }, {
              value: 'kekong',
              label: '可控'
            }]
          }, {
            value: 'daohang',
            label: '导航',
            children: [{
              value: 'cexiangdaohang',
              label: '侧向导航'
            }, {
              value: 'dingbudaohang',
              label: '顶部导航'
            }]
          }]
        }, {
          value: 'ziyuan',
          label: '湖北省',
          children: [{
            value: 'axure',
            label: '武汉市'
          }, {
            value: 'sketch',
            label: 'Sketch Templates'
          }, {
            value: 'jiaohu',
            label: '组件交互文档'
          }]
        }],
        selectedOptions: [],
        selectedOptions2: [],
        

      },
      
    methods: {
      open() {
        this.$alert('提交成功！', '', {
          confirmButtonText: '确定',
          /*callback: action => {
            this.$message({
              type: 'info',
              message: `action: ${ action }`
            });
          }*/
        });
      },
      
        handleChange(value) {
        console.log(value);
      },
        
      handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;

        if (!isJPG) {
          this.$message.error('上传头像图片只能是 JPG 格式!');
        }
        if (!isLt2M) {
          this.$message.error('上传头像图片大小不能超过 2MB!');
        }
        return isJPG && isLt2M;
      }


    



    }




    })

  



</script>