<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>推推</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/iconfont.css">
  </head>
  <body>
    <div id="app" v-cloak >
        <div class="expand_head">
            <div class="tit" v-for="(tab,index) in mydata" @click="add(index)" :class="{'active_tit':index==current}">{{tab.tit}}</div>
        </div>
        
        <ul class="main_list expand_list">
            <li v-for="item in mydata[current].list">
                <a href="main.html">
                    <lock-div :bg="item.img" :per="100" class="left"></lock-div>
                    <div class="right">
                        <div class="txt">{{item.txt}}</div>
                        <div class="tit">{{item.type}}</div>
                    </div>
                </a>
                <div class="bottom">
                    <h3>曝光：<span>{{item.number[0]}}</span>　转发：<span>{{item.number[1]}}</span>　点击：<span>{{item.number[2]}}</span></h3>
                    <a href="main.html" class="btn2">转发轨迹</a>
                </div>
            </li>
        </ul>
 
    </div>
  </body>
</html>

<script src="js/vue2.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/vue-resource.js"></script>
<script src="js/common.js"></script>
<script>
           
    var vm = new Vue({
      el: '#app',
      methods: {
        add: function (message) {
            this.current=message
            console.log(this.current)
        }
      },
      data: {
        current:0,  
        mydata:[
                {
                tit:'正在推广',
                list:[
                    {
                    img:'images/b1.jpg',
                    txt:'骑 ofo 小黄车，感受城市微风  首个品牌广告',
                    type:'观念广告',
                    number:[5230,388,368]

                },{ 
                    img:'images/b2.jpg',
                    txt:'魅力惠搞了个宇宙超强买手阵容，国际超模、明星大咖...',
                    type:'推广广告',
                    number:[5230,388,368]
                }]
            },{
                tit:'历史推广',
                list:[
                {
                    img:'images/b1.jpg',
                    txt:'历史推广  历史推广 骑 ofo 小黄车，感受城市微风  首个品牌广告',
                    type:'观念广告',
                    number:[999,288,268]

                },{ 
                    img:'images/b2.jpg',
                    txt:'历史推广 历史推广 魅力惠搞了个宇宙超强买手阵容，国际超模、明星大咖...',
                    type:'推广广告',
                    number:[999,999,999]
                }]
            }
    ]
        
      }
    })



</script>