<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'>
    <title>推推</title>
    <link rel="stylesheet" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/css/iconfont.css">
    <link rel="stylesheet" href="__PUBLIC__/css/element-ui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/common.css">
  </head>
  <body>
    <div id="app" v-cloak >
        <div class="new_list">
          <div class="left">需求名称</div>
          <div class="middle"><input type="text" placeholder="请输入需求名称" v-model="info.tit"></div>
        </div>
        <div class="new_list">
          <div class="left">所属类型</div>
          <div class="middle">
              <el-select v-model="info.type" placeholder="观念广告">
                <el-option
                  v-for="item in options"
                  :key="item.principal"
                  :label="item.principal"
                  :value="item.principal">
                </el-option>
              </el-select>
          </div>
        </div>
        <hr class="line10">
        <div class="new_list">
          <div class="left">资金预算</div>
          <div class="middle"><input type="text" placeholder="请填写您的预备资金" v-model="info.budget"></div>
        </div>
        <div class="new_list">
          <div class="left">姓名</div>
          <div class="middle"><input type="text" placeholder="请输入您的真实姓名" v-model="info.name"></div>
        </div>
        <div class="new_list">
          <div class="left">手机号</div>
          <div class="middle"><input type="text" placeholder="请填写您的手机号码" v-model="info.phone"></div>
        </div>
        <div class="new_list">
          <div class="left">公司名称</div>
          <div class="middle"><input type="text" placeholder="请填写您的公司名称" v-model="info.company"></div>
        </div>
        <div class="new_cont">
          <h3>详细描述</h3>
          <textarea placeholder="需求的详细描述，偏于我们客服有针对性的沟通" v-model="info.desc"></textarea>
        </div>
        <hr class="line10">
        <div class="new_list more_info_btn">
          <div class="left left_clear">更多信息（选填）</div>
          <div class="right"><i class="iconfont icon-down"></i></div>
        </div>
        <div class="more_info_wrap" style="display: none;">
          <div class="new_list">
            <div class="left">推广链接</div>
            <div class="middle"><input type="text" placeholder="示例：http://www.ttpt.com" v-model="info.link"></div>
          </div>
            <div class="new_bar">
                <el-upload
                        class="avatar-uploader"
                        action="https://jsonplaceholder.typicode.com/posts/"
                        :show-file-list="false"
                        :on-success="handleAvatarSuccess"
                        :before-upload="beforeAvatarUpload">
                    <img v-if="info.pic" :src="info.pic" class="avatar">
                    <i v-else class="iconfont icon-jiahao avatar-uploader-icon"></i>
                </el-upload>
                <div class="right">上传封面图片<br>尺寸规定：**px × **px</div>
            </div>
          <div class="new_list">
            <div class="left">开始时间</div>
            <div class="middle">
              <el-date-picker
                v-model="info.start"
                type="date"
                placeholder="请选择开始时间"
                :picker-options="pickerOptions0">
              </el-date-picker>
            </div>
          </div>
          <div class="new_list">
            <div class="left">结束时间</div>
            <div class="middle">
                  <el-date-picker
                    v-model="info.end"
                    type="date"
                    placeholder="请选择结束时间"
                    :picker-options="pickerOptions0">
                  </el-date-picker>
            </div>
          </div>
        </div>
        <div style="height: 90px;"></div>
        <div class="btns">
            <a href="#" class="btns_left "><el-button type="text" @click="open">保存</el-button></a>

            <a href="#" class="btns_right"><el-button type="text" @click="open1">发布</el-button></a>
        </div>
    </div>
  </body>
</html>

<script src="__PUBLIC__/js/vue2.js"></script>
<script src="__PUBLIC__/js/element-ui.js"></script>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script src="__PUBLIC__/js/vue-resource.js"></script>
<script src="__PUBLIC__/js/common.js"></script>
<script>
  $(document).ready(function() {
      $('.more_info_btn').click(function() {
          $('.more_info_wrap').slideToggle(300);
          if ($('.more_info_btn .right').hasClass('rotate_active')) {
              $('.more_info_btn .right').removeClass('rotate_active')
          } else {
              $('.more_info_btn .right').addClass('rotate_active')
          }
      });
  });

    var vm = new Vue({
      el: '#app',
      data: {
        url:'__APP__/Home/Page/receive',
        info:{tit:'',type:'', budget:'',name:'',phone:'', company:'',desc:'',link:'',pic:'',start:'',end:'',imageUrl: 'images/b1.jpg',},
        options: '{$type}',
              pickerOptions0: {
                  disabledDate(time){
                      return time.getTime() < Date.now() - 8.64e7;
                  }
              },
          },



    methods:{
      open:function(){
          var data = this.info;
          this.$http.post(this.url,{data:data},{emulateJSON:true}).then(function(data){
              console.log(data);
              this.$alert('保存成功！', '', {
                  confirmButtonText: '确定',
              });
          })
      },
      open1:function(){
        this.$alert('发布成功！', '', {
          confirmButtonText: '确定',
          /*callback: action => {
            this.$message({
              type: 'info',
              message: `action: ${ action }`
            });
          }*/
        });
      },

        handleAvatarSuccess(res, file) {
            this.imageUrl = URL.createObjectURL(file.raw);
        },
        beforeAvatarUpload(file) {
            const isJPG = file.type === 'image/jpeg';
            const isLt2M = file.size / 1024 / 1024 < 2;

            if (!isJPG) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
            }
            if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过 2MB!');
            }
            return isJPG && isLt2M;
        }
    }
    })
  var btn1=document.querySelector(".btns_left");
  btn1.ontouchstart=function(){
      this.className="btn-on1";
  }
  btn1.ontouchend=function(){
      this.className="btns_left";
  }

  var btn2=document.querySelector(".btns_right");
  btn2.ontouchstart=function(){
      this.className="btn-on2";
  }
  btn2.ontouchend=function(){
      this.className="btns_right";
  }

</script>
